@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', Futura;

}


h6 {/* Kode CSS Umum */
 
  font-weight: 700;
  font-size: 15px;
}

p {
  font-size: 16px mp !important;
  color: #465b52;
  margin: 15px 0 20px 0;
}  

html, body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 0;
  overflow-x: hidden;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 5%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  width: 30%;
  height: 3px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar .user {
  position: absolute;
  top: 100%;
  right: -100%;
  height: auto; /* Sesuaikan secara otomatis berdasarkan konten */
  width: 8rem; /* Kurangi lebar jika terlalu besar */
  padding: 0.5rem; /* Kurangi padding untuk mengurangi ruang kosong */
  color: #333; /* Ganti warna teks jika diperlukan */
  background-color: #e3e6f3;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  transition: 0.3s ease;
}

#navbar .user.active {
  right: 20px;
}

#navbar .user li {
  list-style: none;
  margin: 10px 0; /* Sesuaikan margin vertikal */
}

#navbar .user a {
  text-decoration: none;
  font-size: 1rem;
}

#navbar .user li {
  list-style: none;
  margin: 10px 0; /* Mengatur margin atas dan bawah */
  padding: 0; /* Pastikan tidak ada padding */
}

/* Sesuaikan margin untuk item terakhir */
#navbar .user li:last-child {
  margin-bottom: 0; /* Hilangkan margin di bawah elemen terakhir */
}

/* Atur ulang transisi untuk dropdown */
.user {
  display: none;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}

.user.active {
  display: block;
  max-height: 100px; /* Kurangi tinggi maksimal */
  opacity: 1;
}

/* Menu Icon Styling */
.menu-icon {
  font-size: 28px;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  #navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #e3e6f3;
    padding: 30px !important;
  }

  #navbar.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  #navbar li {
    margin-bottom: 20px; /* Adds space between the <li> elements */
  }

  #navbar li:last-child {
    margin-bottom: 0; /* Removes the extra margin after the last <li> element */
  }
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.container {
  padding: 0 ;
  flex: 1;
  max-width: 100%; 
}

h1 {
  text-align: left;
  margin-bottom: 20px;
  color: #333;
  margin-top: 50px;
}

.cart-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  border: 5px solid #ddd;
}

.cart-table th, .cart-table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  white-space: nowrap; /* Mencegah teks membungkus */
}

.cart-table th {
  background-color: #f1f1f1;
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.cart-table td img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #ddd;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls input {
  text-align: center;
  width: 50px;
  margin: 0 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.quantity-controls button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #c82333;
}

.delete-btn svg {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

/* Cart total styling */
.cart-total {
  text-align: right;
  margin-right: 3%;
  padding-bottom: 8px;
  font-size: 1.2em;
  margin-top: 20px;
  color: #333;
}

/* Cart actions styling */
.cart-actions {
  text-align: right;
}

.btn {
  padding: 10px 20px;
  margin-right: 3%;
  margin-bottom: 10%;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submit-btn{
  background-color: #088178 !important;
  color: white !important;
  border: none !important;
}

.submit-btn:hover {
  background-color: #065953 !important;
}

.checkout-btn {
  background-color: #088178 !important;
  color: white !important;
  border: none !important;
}

.checkout-btn:hover {
  background-color: #065953 !important;
}

/* Untuk lebar layar kurang dari 768px */
@media (max-width: 768px) {
  .cart-table {
    display: block;
    overflow-x: auto; /* Memungkinkan scroll horizontal pada tabel */
    white-space: nowrap; /* Mencegah teks dalam tabel terbungkus */
  }
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 800px;
  position: relative;
  margin: auto; /* Ensures the content is centered */
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #555;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-column-left,
.form-column-right {
  width: 48%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

textarea {
  resize: none;
  height: 100px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: #088178;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-btn:hover {
  background-color: #065953;
}

.submit-btn:active {
  background-color: #003f7f;
}

.submit-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.3);
}

.cart-total-modal {
  text-align: right;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-column-left,
  .form-column-right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  input,
  textarea {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 16px;
  }
}


/* Footer */
footer {
  background-color: #6096B4;
  padding: 20px 40px;
  text-align: left;
  margin-top: auto;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.footer-column {
  width: 30%;
}

.footer-column a {
  color: #465b52;
  text-decoration: none;
}

.footer-column a:hover {
  color: hsl(154, 16%, 59%);
  text-decoration: underline;
}

.footer-column h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.footer-column p {
  margin: 5px 0;
  font-size: 16px;
  color: #465b52;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff33;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  color: #465b52;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #ffffff33;
  text-decoration: none;
  font-size: 14px;
}

.footer-social a {
  margin-left: 15px;
}

.footer-social img {
  width: 20px;
  height: 20px;
}

/* Responsif untuk Footer */
@media (max-width: 768px) {
  footer {
    padding: 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
  }
}


