body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #BDCDD6;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #ddd;
}

.cart-table th, .cart-table td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.cart-table th {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.cart-table td img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls input {
    text-align: center;
    width: 50px;
    margin: 0 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.quantity-controls button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover {
    background-color: #c82333;
}

.delete-btn svg {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.cart-total {
    text-align: right;
    padding-bottom: 8px;
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}

.cart-actions {
    text-align: right;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.checkout-btn {
    background-color: #088178;
    color: white;
    border: none;

}

.checkout-btn:hover {
    background-color: #065953;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 30px 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.modal-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 12px 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #088178;
    border: none;
    color: white;
}

.submit-btn:hover {
    background-color: #065953;
}

.submit-btn:active {
    background-color: #003f7f;
}

.submit-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.3);
}

.cart-total-modal {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}
